__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Spark
metastore_db/
derby.log
spark-warehouse/

# Data
/tmp/
*.parquet
checkpoint/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars
